NODE_ENV=development
PORT=4000

DATABASE_URL="postgresql://hrms:hrms@localhost:5432/hrms?schema=public"
REDIS_URL="redis://localhost:6379"

JWT_ACCESS_SECRET=change_me_long_random
JWT_REFRESH_SECRET=change_me_also
ACCESS_TOKEN_TTL_MIN=15
REFRESH_TOKEN_TTL_DAYS=14

CORS_ORIGIN=http://localhost:3000
APP_BASE_URL=http://localhost:4000
